
.pageHeader {
    margin-left: 1em;
    margin-right: 1em;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}

.pageBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
