:root {
    --hex-width: 50px;
    --hex-height: 58px;
    --hex-h-gap: 2px;
    --hex-v-gap: 2px;
    --hex-h-spacing: calc(var(--hex-width) + var(--hex-h-gap));
    --hex-v-spacing: calc(var(--hex-height) - var(--hex-height) / 4 + var(--hex-v-gap));
    --player-color: #FFF;
}

body {
    margin: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hex-wrapper {
    position: relative;
    width: max-content;
    height: max-content;
}

#game-container {
    position: relative;
}

.hex-wrapper {
    position: absolute;
    width: var(--hex-width);
    height: var(--hex-height);
    background: white;
    clip-path: polygon(
            50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    transition: transform 0.2s ease;
}

.hex-wrapper.selected {
    transform: translateY(-8px);
    z-index: 10;
}

.hex-cell {
    width: 95%;
    height: 95%;
    background: #111;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    clip-path: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#scoreboard {
    font-size: 24px;
    font-weight: bold;
    color: var(--green-color);
    text-align: center;
    margin-bottom: 10px;
}

#scoreboard span {
    color: var(--green-color);
}

#controls {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

#current-player {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: var(--green-color);
}

#current-player span {
    text-transform: uppercase;
    color: var(--player-color);
}


.button {
    padding: 10px 20px;
    font-weight: bold;
    line-height: normal;
    font-size: 25px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    transition: background 0.2s ease;
    height: auto;
    white-space: nowrap;
}

#phase-button {
    color: #ccc;
}

#auto-upgrade {
    color: orange;
    display: none;
}

button:hover {
    background-color: #555;
}

.highlight {
    background-color: #FFC000;
}

.hex-wrapper.hex-big::after {
    content: "";
    position: absolute;
    inset: 10%;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 40%, transparent 70%);
    clip-path: inherit;
    pointer-events: none;
    z-index: 1;
}
